@(title: String)
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="@routes.Assets.versioned("images/LogoInformatika.jpg")" />
<title>@title | Informatika Student Portal</title>

<!-- CSS -->
<link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"> 
