@(jadwalKuliah: models.display.JadwalDisplay, semester: String)
<!DOCTYPE html>

<html lang="en">
    <head>
    	@templates.head("Jadwal Kuliah")
    </head>
    <body>
		@templates.sidebar("jadwalKuliah")
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">JADWAL KULIAH</h2> 
					<h4 class="text-center">SEMESTER @semester</h4>
				</div>
				@if(jadwalKuliah.isKuliahEmpty()){
					<div class="row">
						<h5 style="color: gray;">JADWAL KULIAH BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				<div class="row">
					<div class="col-md-1">
						<table id="timeline" class="table hidden-xs hidden-sm">
							<thead>
								<tr>
									<th>Pukul</th>
								</tr>
							</thead>
							<tbody>	
								@for(i <- 7 until 18) {
									 <tr><td height="75" colspan="2">@(i).00 </td></tr>
								}	
							</tbody>
						</table>
					</div>	
					<div class="col-md-10">
						<div class="row">
						@for(day <- 0 until 6) {
							<div class="col-md-2">
								<table id=@jadwalKuliah.getHariByIndex(day) class="table">
									<thead>
										<tr>
											<th class="text-center" colspan="2">@jadwalKuliah.getHariByIndex(day)</th>
										</tr>
									</thead>
									<tbody>	
										@for(i <- 7 until 18) {
											 <tr>
												<td height="75" rowspan="2" class="hidden-md hidden-lg">@(i).00 </td>
												@if(jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah()!=null){	
													<td class="jadwal-cell text-center" rowspan="1" height="25" data-toggle="modal" data-target="#modalDialog" onclick="setModal('@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah().kode()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah().nama()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getKelas()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getNamaPengajar()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getWaktuString()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getLokasi()')">@(jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah().kode())</td>
												}else{
													<td class="text-center" height="25"> - </td>
												}
											 </tr>
											 @if(jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah()!=null){	
												<tr><td class="jadwal-cell text-center" height="25" data-toggle="modal" data-target="#modalDialog" onclick="setModal('@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah().kode()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah().nama()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getKelas()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getNamaPengajar()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getWaktuString()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getLokasi()')">@(jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah().kode())</td></tr>
											 }else{
												<tr><td class="text-center" height="25"> - </td></tr>
											 }
										}	
									</tbody>
								</table>	
							</div>
							}	
						</div>
					</div>
				</div>
				}
				
				<div class="modal fade" id="modalDialog" role="dialog">
					<div class="modal-dialog modal-lg">
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h2 class="modal-title text-center">Modal Header</h2>
						</div>
						<div class="modal-body"> 
						  <h4 class="text-center" id="kelas"></h4>
						  <h4 class="text-center" id="dosen"></h4>
						  <h4 class="text-center" id="waktu"></h4>
						  <h4 class="text-center" id="ruang"></h4>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
		<script>
			function setModal(kodeMk, namaMk, kelas, dosen, waktu, ruang) {
				$(".modal-title").html(kodeMk + " " + namaMk);
				$("#waktu").html("Pukul " + waktu);
				$("#kelas").html("Kelas " + kelas);
				$("#dosen").html(dosen);
				$("#ruang").html("Ruang " + ruang);
				//$(".modal-body").html("<table> <tr> <td>"+waktu+"</td></tr><tr><td>Kelas "+kelas+"</td></tr><tr><td>"+dosen+"</td></tr><tr><td>"+ruang+"</td></tr></table>");
			}
		</script>
    </body>
</html>