@(ringkasan: models.display.RingkasanDisplay)

<!DOCTYPE html>

<html lang="en">
    <head>
    	@templates.head("Data Mata Kuliah")
    </head>
    <body>
		@templates.sidebar("ringkasan")
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">RINGKASAN DATA AKADEMIK</h2> 
				</div>
				<p></br></p>
				@if(ringkasan==null){
					<div class="row">
						<h5 style="color: gray;">DATA AKADEMIK BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				<div class="row">
					<div class="col-lg-2 ringkasan-panel"></div>
                    <div class="col-lg-8 ringkasan-panel">
						<div class="page-header">
							<h5 class="text-center">INDEKS PRESTASI</h5>
						</div>
						<div class="ringkasan-body">
							IPS <a target="_blank" href="https://github.com/pascalalfadian/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/Mahasiswa.java#L131"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> @ringkasan.getSemesterTerakhir: @ringkasan.getIPS() dari @ringkasan.getSKSLulusSemTerakhir SKS<br>
							IPK (Lulus) <a target="_blank" href="https://github.com/pascalalfadian/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/Mahasiswa.java#L88"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>: @ringkasan.getIPK()<br>
							SKS lulus: @ringkasan.getSKSLulusTotal()<br>
							<!--Sisa SKS untuk kelulusan: @ringkasan.getMinSisaSKS()<br>--> <!-- dihapus karena akan dijadikan satu tabel baru -->
						</div>
					</div>
                </div>
				<p></br></p>
				
				<!--  YANG KITA TAMBAH------------------------------------------------------------------------------------- -->
				<div class="row">
					<div class="col-lg-2 ringkasan-panel"></div>
                    <div class="col-lg-8 ringkasan-panel">
                    	<div class="page-header">
							<h5 class="text-center">SYARAT KELULUSAN</h5>
						</div>
						<div class="ringkasan-body">
						Masih kurang 3 SKS<BR>
						Belum lulus kuliah wajib AIF102<BR>
						Belum lulus kuliah wajib AIF201<BR>
						Belum mencukupi 4 kuliah pilihan wajib (sudah lulus 2: AIF311 dan AIF312)<BR>
						Belum mengambil salah satu dari AIF306 atau AIF304+AIF305<BR>
						</div>
				</div>
				<!-- ------------------------------------------------------------------------------------- -->
				
				<!--  TABEL INI DIHAPUS
				<p></br></p>
				<div class="row">
					<div class="col-lg-2 ringkasan-panel"></div>
                    <div class="col-lg-8 ringkasan-panel">
						<div class="page-header">
							<h5 class="text-center">PILIHAN WAJIB</h5>
						</div>
						<div class="ringkasan-body">
							Lulus: <br>
							<ul>
								@if(ringkasan.getPilWajibLulus().length==0){
									<li>	-	</li>
								}else{
									@for(list<-ringkasan.getPilWajibLulus()){
										<li>@list @ringkasan.getNamaPilWajib(list)</li>
									}
								}
							</ul>
							Belum lulus: <br>
							<ul>
								@if(ringkasan.getPilWajibBelumLulus().length==0){
									<li>	-	</li>
								}else{
									@for(list<-ringkasan.getPilWajibBelumLulus()){
										<li>@list @ringkasan.getNamaPilWajib(list)</li>
									}
								}
							</ul>
							<h5>LULUS @ringkasan.getPilWajibLulus().length DARI @ringkasan.getPilWajib().length MATA KULIAH PILIHAN WAJIB</h5>
							@if(ringkasan.getPilWajib().length-ringkasan.getPilWajibBelumLulus().length>=ringkasan.getMinLulusPilWajib()){
								<P style="color: #0066FF;">SUDAH MEMENUHI SYARAT KELULUSAN MATA KULIAH PILIHAN WAJIB <span class="glyphicon glyphicon-flag"></span></P>
							}else{
								<p style="color: red;">BELUM MEMENUHI SYARAT KELULUSAN MATA KULIAH PILIHAN WAJIB <span class="glyphicon glyphicon-remove"></span></p>
								<p style="color: #FF9900;">MINIMAL LULUS @(ringkasan.getMinLulusPilWajib()-ringkasan.getPilWajibLulus().length) MATA KULIAH PILIHAN WAJIB LAGI <span class="glyphicon glyphicon-warning-sign"></span></p>
							}
							</div>
					</div>
                </div>
                -->
                }
			</div>
		</div>
		<div>
		</div>
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
		
    </body>
</html>