@(jadwalKuliah: models.display.JadwalDisplay, semester: String)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Informatika Student Portal</title>

		<!-- CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"> 
    </head>
    <body>
		<nav class="navbar navbar-inverse sidebar" role="navigation">
			<div class="container-fluid">
				<!-- Logo dan Toggle -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="logo-set">
						<img src="@routes.Assets.versioned("images/logo-unpar.png")" width="25%" height="25%"/>
						<img src="@routes.Assets.versioned("images/logo-IT.png")" width="25%" height="25%"/>
					</div>
					<p class="navbar-brand">INFORMATIKA STUDENT PORTAL</p>
				</div>
				<!-- Menu Navigasi -->
				<div class="collapse navbar-collapse" id="sidebar-navbar-collapse">
					<ul class="nav navbar-nav">
						<li ><a href="@routes.Application.home()">
							Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
						</a></li>
						<li><a href="@routes.Application.prasyarat()">
							Prasyarat Mata Kuliah<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span>
						</a></li>
						<li class="active"><a href="@routes.Application.jadwalKuliah()">
							 Jadwal Kuliah<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span>
						</a></li>
						<li ><a href="@routes.Application.ringkasan()">
							Data Akademik<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span>
						</a></li>
						<li ><a href="@routes.Application.logout()">
							Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span>
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">JADWAL KULIAH</h2> 
					<h4 class="text-center">SEMESTER @semester</h4>
				</div>
				@if(jadwalKuliah.isKuliahEmpty()){
					<div class="row">
						<h5 style="color: gray;">JADWAL KULIAH BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				<div class="row">
					<div class="col-md-1">
						<table id="timeline" class="table hidden-xs hidden-sm">
							<thead>
								<tr>
									<th>Pukul</th>
								</tr>
							</thead>
							<tbody>	
								@for(i <- 7 until 18) {
									 <tr><td height="75" colspan="2">@(i).00 </td></tr>
								}	
							</tbody>
						</table>
					</div>	
					<div class="col-md-10">
						<div class="row">
						@for(day <- 0 until 6) {
							<div class="col-md-2">
								<table id=@jadwalKuliah.getHariByIndex(day) class="table">
									<thead>
										<tr>
											<th class="text-center" colspan="2">@jadwalKuliah.getHariByIndex(day)</th>
										</tr>
									</thead>
									<tbody>	
										@for(i <- 7 until 18) {
											 <tr>
												<td height="75" rowspan="2" class="hidden-md hidden-lg">@(i).00 </td>
												@if(jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah()!=null){	
													<td class="jadwal-cell text-center" rowspan="1" height="25" data-toggle="modal" data-target="#modalDialog" onclick="setModal('@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah().kode()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah().nama()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getKelas()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getDosen()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getWaktu()','@jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getRuang()')">@(jadwalKuliah.getJadwalKuliah(day,(i-7)*2).getMataKuliah().kode())</td>
												}else{
													<td class="text-center" height="25"> - </td>
												}
											 </tr>
											 @if(jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah()!=null){	
												<tr><td class="jadwal-cell text-center" height="25" data-toggle="modal" data-target="#modalDialog" onclick="setModal('@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah().kode()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah().nama()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getKelas()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getDosen()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getWaktu()','@jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getRuang()')">@(jadwalKuliah.getJadwalKuliah(day,((i-7)*2)+1).getMataKuliah().kode())</td></tr>
											 }else{
												<tr><td class="text-center" height="25"> - </td></tr>
											 }
										}	
									</tbody>
								</table>	
							</div>
							}	
						</div>
					</div>
				</div>
				}
				
				<div class="modal fade" id="modalDialog" role="dialog">
					<div class="modal-dialog modal-sm">
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body">
						  <p>Modal Content.</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
		<script>
			function setModal(kodeMk, namaMk, kelas, dosen, waktu, ruang) {
				$(".modal-title").html(kodeMk + " " + namaMk);
				$(".modal-body").html("<table> <tr> <td>"+waktu+"</td></tr><tr><td>Kelas "+kelas+"</td></tr><tr><td>"+dosen+"</td></tr><tr><td>"+ruang+"</td></tr></table>");
			}
		</script>
    </body>
</html>