@(jadwalUTS: models.display.JadwalDisplay)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Informatika Student Portal</title>

		<!-- CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"> 
    </head>
    <body>
		<nav class="navbar navbar-inverse sidebar" role="navigation">
			<div class="container-fluid">
				<!-- Logo dan Toggle -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="logo-set">
						<img src="@routes.Assets.versioned("images/logo-unpar.png")" width="25%" height="25%"/>
						<img src="@routes.Assets.versioned("images/logo-unpar.png")" width="25%" height="25%"/>
					</div>
					<p class="navbar-brand">INFORMATIKA STUDENT PORTAL</p>
				</div>
				<!-- Menu Navigasi -->
				<div class="collapse navbar-collapse" id="sidebar-navbar-collapse">
					<ul class="nav navbar-nav">
						<li ><a href="@routes.Application.home()">
							Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
						</a></li>
						<li><a href="@routes.Application.prasyarat()">
							Prasyarat Mata Kuliah<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span>
						</a></li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Jadwal<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span>
							</a>
							<ul class="dropdown-menu forAnimate" role="menu">
								<li ><a href="@routes.Application.jadwalKuliah()">
									<span style="font-size:16px;" class="hidden-xs showopacity glyphicon glyphicon-calendar"></span> Jadwal Kuliah 
								</a></li>
								<li><a href="@routes.Application.jadwalUTS()">
									<span style="font-size:16px;" class="hidden-xs showopacity glyphicon glyphicon-calendar"></span> Jadwal UTS 
								</a></li>
								<li><a href="@routes.Application.jadwalUAS()">
									<span style="font-size:16px;" class="hidden-xs showopacity glyphicon glyphicon-calendar"></span> Jadwal UAS
								</a></li>
							</ul>
						</li>
						<li ><a href="@routes.Application.ringkasan()">
							Data Akademik<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span>
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">JADWAL KULIAH</h2> 
					<h4 class="text-center">SEMESTER semester</h4>
				</div>
				@if(jadwalUTS.isUTSEmpty()){
					<div class="row">
						<h5 style="color: gray;">JADWAL UTS BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				
				}
			</div>
		</div>
		
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    </body>
</html>