@(message: String)

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>IT Student Portal</title>
	</head>
	<body>
		<h3>Login</h3>
		<form action="@routes.Application.submitLogin()" method="POST" name ="loginForm">
			Email: <br>
			<input name="email" type="email" placeholder="contoh: 7312012&#64;student.unpar.ac.id"/>
			<br>
			Password:
			<br>
			<input name="pass" type="password" placeholder="********"/>
			<br>
			<input name="submit" type="submit" value="login"/>
			<p>@message</p>
		</form>
	</body>
</html>