@(list: List[models.display.PrasyaratDisplay], semester: String)

<!DOCTYPE html>

<html lang="en">
    <head>
    	@templates.head("Prasyarat Mata Kuliah")
    </head>
    <body>
		@templates.sidebar()
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">PEMERIKSAAN PRASYARAT MATA KULIAH</h2> 
					<h4 class="text-center">SEMESTER @semester</h4> 
				</div>
				@if(list==null){
					<div class="row">
						<h5 style="color: gray;">PRASYARAT BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				<div class="row">
                    <div class="col-lg-12">
						<div class="table-responsive">
						<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" >Kode Mata Kuliah</th>
								<th class="text-center" >Nama Mata Kuliah</th>
								<th class="text-center" >Keterangan</th>
							</tr>
						</thead>
						<tbody>
						@for(ls<-list){
							<tr>
								@if(ls.getStatus()(0).contains("data prasyarat tidak tersedia")){
									<td class="text-center" rowspan="@(ls.getStatus().length)">@ls.getMataKuliah().kode()</td>
								}else{
									<td class="text-center" rowspan="@(ls.getStatus().length)"><a target="_blank" href= @{val ref = "https://github.com/pascalalfadian/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/matakuliah/"+ls.getMataKuliah().kode()+".java"; ref}>@ls.getMataKuliah().kode()</a></td>
								}

								<td rowspan="@(ls.getStatus().length)">@ls.getMataKuliah().nama()</td>
								
								@for(stat<-ls.getStatus()){
									@if(!stat.isEmpty){
										@{
											if(stat.equals(ls.getStatus()(0))){
												if(stat.contains("sudah lulus")){
													<td style="color: #0066FF;">{stat} <span class="glyphicon glyphicon-flag"></span></td>
												}else if(stat.contains("memenuhi syarat")){
													<td style="color: green;">{stat} <span class="glyphicon glyphicon-ok"></span></td>
												}else if(stat.contains("tidak memiliki prasyarat")){
													<td style="color: green;">{stat} <span class="glyphicon glyphicon-ok"></span></td>
												}else if(stat.contains("CATATAN:")){
													<td style="color: #FF9900;">{stat} <span class="glyphicon glyphicon-warning-sign"></span></td>
												}else if(stat.contains("data prasyarat tidak tersedia")){
													<td style="color: gray;">{stat} <span class="glyphicon glyphicon-exclamation-sign"></span></td>
												}else{
													<td style="color: red;">{stat} <span class="glyphicon glyphicon-remove"></span></td>
												}	
											}
											else{
												if(stat.contains("CATATAN:")){
													<tr><td style="color: #FF9900;">{stat} <span class="glyphicon glyphicon-warning-sign"></span></td></tr>
												}else{
													<tr><td style="color: red;">{stat} <span class="glyphicon glyphicon-remove"></span></td></tr>
												}
											}
										}
									}
								}
							</tr>
						}
						</tbody>
						</table>
						</div>
					</div>
                </div>
                }
			</div>
		</div>
		
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    </body>
</html>