@(list: List[models.display.PrasyaratDisplay], semester: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Informatika Student Portal</title>

		<!-- CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"> 
    </head>
    <body>
		<nav class="navbar navbar-inverse sidebar" role="navigation">
			<div class="container-fluid">
				<!-- Logo dan Toggle -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="logo-set">
						<img src="@routes.Assets.versioned("images/logo-unpar.png")" width="25%" height="25%"/>
						<img src="@routes.Assets.versioned("images/logo-IT.png")" width="25%" height="25%"/>
					</div>
					<p class="navbar-brand">INFORMATIKA STUDENT PORTAL</p>
				</div>
				<!-- Menu Navigasi -->
				<div class="collapse navbar-collapse" id="sidebar-navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="@routes.Application.home()">
							Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
						</a></li>
						<li class="active"><a href="@routes.Application.prasyarat()">
							Prasyarat Mata Kuliah<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span>
						</a></li>
						<li><a href="@routes.Application.jadwalKuliah()">
							 Jadwal Kuliah<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span>
						</a></li>
						<li ><a href="@routes.Application.ringkasan()">
							Data Akademik<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span>
						</a></li>
						<li ><a href="@routes.Application.logout()">
							Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span>
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">PEMERIKSAAN PRASYARAT MATA KULIAH</h2> 
					<h4 class="text-center">SEMESTER @semester</h4> 
				</div>
				@if(list==null){
					<div class="row">
						<h5 style="color: gray;">PRASYARAT BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				<div class="row">
                    <div class="col-lg-12">
						<div class="table-responsive">
						<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" >Kode Mata Kuliah</th>
								<th class="text-center" >Nama Mata Kuliah</th>
								<th class="text-center" >Keterangan</th>
							</tr>
						</thead>
						<tbody>
						@for(ls<-list){
							<tr>
								@if(ls.getStatus()(0).contains("data prasyarat tidak tersedia")){
									<td class="text-center" rowspan="@(ls.getStatus().length)">@ls.getMataKuliah().kode()</td>
								}else{
									<td class="text-center" rowspan="@(ls.getStatus().length)"><a target="_blank" href= @{val ref = "https://github.com/herfanheryandi/Skripsi/blob/master/app/StudentPortal/app/models/id/ac/unpar/siamodels/matakuliah/"+ls.getMataKuliah().kode()+".java"; ref}>@ls.getMataKuliah().kode()</a></td>
								}

								<td rowspan="@(ls.getStatus().length)">@ls.getMataKuliah().nama()</td>
								
								@for(stat<-ls.getStatus()){
									@if(!stat.isEmpty){
										@{
											if(stat.equals(ls.getStatus()(0))){
												if(stat.contains("sudah lulus")){
													<td style="color: #0066FF;">{stat} <span class="glyphicon glyphicon-flag"></span></td>
												}else if(stat.contains("memenuhi syarat")){
													<td style="color: green;">{stat} <span class="glyphicon glyphicon-ok"></span></td>
												}else if(stat.contains("tidak memiliki prasyarat")){
													<td style="color: green;">{stat} <span class="glyphicon glyphicon-ok"></span></td>
												}else if(stat.contains("CATATAN:")){
													<td style="color: #FF9900;">{stat} <span class="glyphicon glyphicon-warning-sign"></span></td>
												}else if(stat.contains("data prasyarat tidak tersedia")){
													<td style="color: gray;">{stat} <span class="glyphicon glyphicon-exclamation-sign"></span></td>
												}else{
													<td style="color: red;">{stat} <span class="glyphicon glyphicon-remove"></span></td>
												}	
											}
											else{
												if(stat.contains("CATATAN:")){
													<tr><td style="color: #FF9900;">{stat} <span class="glyphicon glyphicon-warning-sign"></span></td></tr>
												}else{
													<tr><td style="color: red;">{stat} <span class="glyphicon glyphicon-remove"></span></td></tr>
												}
											}
										}
									}
								}
							</tr>
						}
						</tbody>
						</table>
						</div>
					</div>
                </div>
                }
			</div>
		</div>
		
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    </body>
</html>