@(ringkasan: models.display.RingkasanDisplay)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Informatika Student Portal</title>

		<!-- CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")"> 
    </head>
    <body>
		<nav class="navbar navbar-inverse sidebar" role="navigation">
			<div class="container-fluid">
				<!-- Logo dan Toggle -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="logo-set">
						<img src="@routes.Assets.versioned("images/logo-unpar.png")" width="25%" height="25%"/>
						<img src="@routes.Assets.versioned("images/logo-IT.png")" width="25%" height="25%"/>
					</div>
					<p class="navbar-brand">INFORMATIKA STUDENT PORTAL</p>
				</div>
				<!-- Menu Navigasi -->
				<div class="collapse navbar-collapse" id="sidebar-navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="@routes.Application.home()">
							Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
						</a></li>
						<li><a href="@routes.Application.prasyarat()">
							Prasyarat Mata Kuliah<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span>
						</a></li>
						<li><a href="@routes.Application.jadwalKuliah()">
							 Jadwal Kuliah<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span>
						</a></li>
						<li class="active" ><a href="@routes.Application.ringkasan()">
							Data Akademik<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span>
						</a></li>
						<li ><a href="@routes.Application.logout()">
							Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span>
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">RINGKASAN DATA AKADEMIK</h2> 
				</div>
				@if(ringkasan==null){
					<div class="row">
						<h5 style="color: gray;">DATA AKADEMIK BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				<div class="row">
                    <div class="col-lg-12">
						IPS @ringkasan.getSemesterTerakhir: @ringkasan.getIPS() dari @ringkasan.getSKSLulusSemTerakhir SKS<br>
						IPK: @ringkasan.getIPK()<br>
						SKS lulus: @ringkasan.getSKSLulusTotal()<br>
						Sisa SKS untuk kelulusan: @ringkasan.getMinSisaSKS()<br>
						
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="page-header">
									<h5>Pilihan Wajib</h5>
								</div>
								Lulus: <br>
								<ul>
									@if(ringkasan.getPilWajibLulus().length==0){
										<li>	-	</li>
									}else{
										@for(list<-ringkasan.getPilWajibLulus()){
											<li>@list @(models.id.ac.unpar.siamodels.MataKuliah.getMataKuliah(list).getNama())</li>
										}
									}
								</ul>
								Belum lulus: <br>
								<ul>
									@if(ringkasan.getPilWajibBelumLulus().length==0){
										<li>	-	</li>
									}else{
										@for(list<-ringkasan.getPilWajibBelumLulus()){
											<li>@list @(models.id.ac.unpar.siamodels.MataKuliah.getMataKuliah(list).getNama())</li>
										}
									}
								</ul>
								@if(ringkasan.getPilWajib().length-ringkasan.getPilWajibBelumLulus().length>=4){
									Sudah memenuhi syarat kelulusan pilihan wajib
								}else{
									Belum memenuhi syarat kelulusan pilihan wajib, minimal lulus
									@(4-ringkasan.getPilWajibLulus().length) mata kuliah pilihan wajib.
								}
							</div>
						</div>

					</div>
                </div>
                }
			</div>
		</div>
		<div>
		</div>
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
		
    </body>
</html>