<!DOCTYPE html>

<html lang="en">
    <head>
    	@templates.head("Lapor Bug / Tentang Portal")
    </head>
    <body>
		@templates.sidebar()
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2>Lapor <em>Bug</em></h2>
					<p>Ada masalah dengan Informatika Student Portal, atau saran terhadap pengembangan ke depan?
					Gunakan <a href="https://github.com/ftisunpar/IFStudentPortal/issues" target="_blank"><em>issue tracker</em> di Github</a>!
					<h2>Tentang Informatika Student Portal</h2>
					<p>&copy; 2015 versi orisinal oleh Herfan Heryandi dan Pascal Alfadian.</p>
					<p>Daftar kontributor lengkap dapat dilihat di <a href="https://github.com/ftisunpar/IFStudentPortal/graphs/contributors" target="_blank">sini</a>.</p>
					<p>Kode sumber dapat dilihat di <a href="https://github.com/ftisunpar/IFStudentPortal" target="_blank">sini</a>.</p>
					<h2>Ketentuan Penggunaan</h2>
					<p>Layanan ini diberikan secara gratis, tanpa garansi apapun. Pengembang dan pengelola situs tidak bertanggung jawab atas segala kerugian yang mungkin ditimbulkan.
					Khusus kepada mahasiswa, silahkan memeriksa kembali peraturan resmi dari jurusan / universitas untuk memastikan.</p>
					<h2>Kebijakan Privasi</h2>
					<p>Pengembang dan pengelola melakukan upaya terbaik untuk menjaga privasi Anda.<p>
					<p>Layanan ini meminta password Anda untuk melakukan login ke situs Portal Akademik Mahasiswa. Program tidak menyimpan password tersebut setelah login dilakukan.</p>
					<p>Data mahasiswa diunduh dari situs Portal Akademik Mahasiswa, dan mungkin disimpan oleh server di memori dalam jangka waktu tertentu. Server tidak memberikan akses kepada pihak
					manapun (termasuk pengembang) atas data tersebut.</p>
				</div>
			</div>
		</div>

		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
		
    </body>
</html>