html{
  min-height: 100%;
  /*border: 10px solid white; */
}
#login-body{
	background-image: url("../images/home-bg.jpg");
	background-size: cover;
	min-height: 100%;
	/*border: 1px	solid aqua; */
}
#login-container{
	/*border: 10px solid red; 
	vertical-align: middle !important;*/
	margin-top: 5%;
}
.panel-body{
	margin-left: 10px;
	margin-right: 10px;
}
.panel{
	border: 1px	solid black; 
}
.panel-body label{
	color: #0066FF;;
}
.page-header .logo-set{
	margin: 0 auto 10px;
	display: block;
}
.page-header .text-center{
	color: #0066FF;
	font-weight: bold;
}
.error-message{
	color: #c7254e;
	background-color: #f9e1f4;
	border-radius: 4px;
}
.input-group-addon{
	background-color: #0066FF;
	color: white;
}
button[name=submit]{
	margin-top: 5px;
	margin-bottom: 25px;
	background-color: #0066FF;
	color: white;
}
#sidebar{
	color: #0066FF;
	width: 210px;
	height: 100%;
	position: absolute;
	background: gray;
	left:-210px;
}
#sidebar.toggled{
	left: 0px;
	transition: left 0.5s ease;
}
ul{
	margin: 0px;
	padding: 0px;
}
ul li{
	list-style: none;
}
ul li a{
	padding: 10px;
	display: block;
	color: #0066DD;
}
a:hover{
	text-decoration: none;
	color: #FFFFFE;
	background: #0066DD;
}
li ul a{
	padding-left: 25px;
}
#toggle-menu{
	text-decoration: none;
	background: gray;
	cursor: pointer;
	font-size: 18pt;
	margin-left: -18px;
	border-radius: 4px;
	min-width: 50px;
	min-height: 50px;
}
#page-content.toggled{
    position: absolute;
    left: 210px;
	transition: left 0.5s ease;
}
#page-content{
	left:0px;
}



