#login-body{
	background-image: url("../images/home-bg.jpg");
	background-size: cover;
}
.col-md-4{
	margin-top: 10%;
}
.panel-body{
	margin-left: 10px;
	margin-right: 10px;
}
.panel{
	border: 1px	solid black; 
}
.panel-body label{
	color: #0066FF;;
}
.page-header .logo-set{
	margin: 0 auto 10px;
	display: block;
}
.page-header .text-center{
	color: #0066FF;
	font-weight: bold;
}
.error-message{
	color: #c7254e;
	background-color: #f9e1f4;
	border-radius: 4px;
}
.input-group-addon{
	background-color: #0066FF;
	color: white;
}
button[name=submit]{
	margin-top: 5px;
	margin-bottom: 25px;
	background-color: #0066FF;
	color: white;
}