 @(message: String)

<!doctype html>
<html>
	<head>
		@templates.head("Login")        
	</head>
	
	<body id="login-body">
	    <div class="container" id="login-container">
			<div class="row">
				<div class="col-md-4 col-sm-2"></div>
				<div class="col-md-4 col-sm-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="page-header">
								<div class="logo-set">
									<img src="@routes.Assets.versioned("images/logo.png")" width="100%" alt="INFORMATIKA STUDENT PORTAL"/>
								</div>
								<br>
							</div>
							<form action="@routes.Application.submitLogin()" method="POST" name ="loginForm">
								<div class="form-group">
									<label for="email-input">Email</label> 
									<div class="input-group">
										<input name="email" type="email" class="form-control" id="email-input" placeholder="co: 6181901062@student.unpar.ac.id&#64;student.unpar.ac.id"/>
										<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
									</div>
								</div>
								<div class="form-group">
									<label for="pw-input">Password</label> 
									<div class="input-group">
										<input name="pass" type="password" class="form-control" id="pw-input" placeholder="********"/>
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
									</div>
								</div>
								 @Html(message)
								<button name="submit" type="submit" class="form-control">Login <span class="glyphicon glyphicon-log-in"></span></button>
								<p><a href="https://docs.google.com/document/u/1/d/1svBDGqZLnBKoKMcE9v9umcmF8TWCFZZGh5mLjw7X2UA/pub" style="color: white"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Petunjuk Penggunaan</a> <a href="@routes.Assets.versioned("certs/IFStudentPortal-CA.crt")" style="color: white"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Sertifikat HTTPS</a></p>								
							</form>
						</div>	
					</div>										
				</div>
				<div class="col-md-4 col-sm-2"></div>
			</div>
		</div>
		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")></script>

	</body>
</html>
