@(list: List[models.display.PrasyaratDisplay], semester: String, dataAkademik: models.display.DataAkademikDisplay)

<!DOCTYPE html>

<html lang="en">
    <head>
    	@templates.head("Persiapan Perwalian")
    </head>
    <body>
		@templates.sidebar("prasyarat")
		<div class="main">
		<!-- Konten Halaman -->
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">PERSIAPAN PERWALIAN</h2> 
					<h4 class="text-center">SEMESTER @semester</h4> 
				</div>
				@if(list==null){
					<div class="row">
						<h5 style="color: gray;">DATA AKADEMIK BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
					<div class="row">
						<div class="col-lg-2 kelulusan-panel"></div>
	                    <div class="col-lg-8 kelulusan-panel">
							<div class="page-header">
								<h5 class="text-center">DATA AKADEMIK</h5>
							</div>
							<div class="kelulusan-body">
								IPS <a target="_blank" href="https://github.com/pascalalfadian/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/Mahasiswa.java#L199"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> @dataAkademik.semesterTerakhir: @dataAkademik.ips dari @dataAkademik.sksLulusSemTerakhir SKS<br>
								IP Kumulatif <a target="_blank" href="https://github.com/pascalalfadian/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/Mahasiswa.java#L154"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>: @dataAkademik.ipKumulatif<br>
								IP Lulus <a target="_blank" href="https://github.com/pascalalfadian/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/Mahasiswa.java#L99"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>: @dataAkademik.ipLulus<br>
								IP N. Terbaik <a target="_blank" href="https://github.com/pascalalfadian/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/Mahasiswa.java#L113"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>: @dataAkademik.ipNTerbaik<br>
								SKS lulus: @dataAkademik.sksLulusTotal<br>
								@if(dataAkademik.nilaiTOEFL != null){
									Nilai TOEFL: @dataAkademik.nilaiTOEFL<br>
								}else{
									Nilai TOEFL: (belum mengambil)<br>
								}
							</div>
						</div>
	                </div>
				}
				
				<p>&nbsp;</p>
				
				@if(list==null){
					<div class="row">
						<h5 style="color: gray;">PRASYARAT BELUM TERSEDIA <span class="glyphicon glyphicon-exclamation-sign"></span></h5>
					</div>	
				}else{
				<div class="row">
                    <div class="col-lg-12">
						<div class="table-responsive">
						<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" >Kode Mata Kuliah</th>
								<th class="text-center" >Nama Mata Kuliah</th>
								<th class="text-center" >Keterangan</th>
							</tr>
						</thead>
						<tbody>
						@for(ls<-list){
							<tr>
								<td class="text-center" rowspan="@(ls.status.length)">@ls.mataKuliah.getKode()
								@if(!ls.status(0).contains("data prasyarat tidak tersedia")){
									<a target="_blank" href= @{val ref = "https://github.com/AndriantoSugiarto/SIAModels/blob/master/src/main/java/id/ac/unpar/siamodels/matakuliah/kurikulum2018/"+ls.mataKuliah.getKode()+".java"; ref}><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
								}
								</td>

								<td rowspan="@(ls.status.length)">@ls.mataKuliah.getNama()</td>
								
								@for(stat<-ls.status){
									@if(!stat.isEmpty){
										@{
											if(stat.equals(ls.status(0))){
												if(stat.contains("sudah lulus")){
													<td style="color: #0066FF;">{stat} <span class="glyphicon glyphicon-flag"></span></td>
												}else if(stat.contains("memenuhi syarat")){
													<td style="color: green;">{stat} <span class="glyphicon glyphicon-ok"></span></td>
												}else if(stat.contains("tidak memiliki prasyarat")){
													<td style="color: green;">{stat} <span class="glyphicon glyphicon-ok"></span></td>
												}else if(stat.contains("CATATAN:")){
													<td style="color: #FF9900;">{stat} <span class="glyphicon glyphicon-warning-sign"></span></td>
												}else if(stat.contains("data prasyarat tidak tersedia")){
													<td style="color: gray;">{stat} <span class="glyphicon glyphicon-exclamation-sign"></span></td>
												}else{
													<td style="color: red;">{stat} <span class="glyphicon glyphicon-remove"></span></td>
												}	
											}
											else{
												if(stat.contains("CATATAN:")){
													<tr><td style="color: #FF9900;">{stat} <span class="glyphicon glyphicon-warning-sign"></span></td></tr>
												}else{
													<tr><td style="color: red;">{stat} <span class="glyphicon glyphicon-remove"></span></td></tr>
												}
											}
										}
									}
								}
							</tr>
						}
						</tbody>
						</table>
						</div>
					</div>
                </div>
                }
			</div>
		</div>
		
		<!-- Javascript -->
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/script.js")"></script>
		<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    </body>
</html>